<h5>1 Comment</h5>
			<hr>
			<div class="gravatar">
				<img src="images/gravatar.png" alt="">
			</div>
			<h5>Sam
			<span class="commentdate">
				- October 26, 2013 at 9:39 am
			</span>
			</h5>
			
			<p>
				But she cuddled in bed with one knee up to her neck in cute boyish fashion, laughing softly at the remembrance of another time when she had popped a cigarette stump into the eye of a London bobby from the top of a bus.  Temporibus autem quibusdam.
			</p>
			<br class="clear">