<h6 class="sidebartitle">POPULAR TAGS</h6>
			<a href="#" class="tags">Photography</a>
			<a href="#" class="tags">Vintage</a>
			<a href="#" class="tags">Nature</a>
			<a href="#" class="tags">Design</a>
			<a href="#" class="tags">Printing</a>
			<a href="#" class="tags">Contemporary</a>
			<a href="#" class="tags">Classic</a>
			<a href="#" class="tags">Elegant</a>
			<a href="#" class="tags">Graphics</a>
			<br class="clear"/>
			<br/><br/>