<h6 class="sidebartitle">RECENT VIEWED POSTS</h6>
			<p>
				7 Oct 2013
			</p>
			<p>
				Many pieces were proposed, but none seemed suitable, because each one wished to play a good and suitable part ...
			</p>
			<p>
				6 Sept 2013
			</p>
			<p>
				It was ready for production, when through accident we were disappointed about securing the private theatre on ...
			</p>
			<p>
				4 Aug 2013
			</p>
			<p>
				The over-kind praise which it won encouraged me to have the play printed. I decided, as I could see no other prospects...
			</p>