<h5>SPEAK YOUR MIND</h5>		
			<input type="text" class="five smoothborder" placeholder="Your name *"/>			
			<input type="text" class="five smoothborder" placeholder="E-mail address *"/>			
			<input type="text" class="five smoothborder" placeholder="Website"/>			
			<textarea class="six smoothborder" rows="7" placeholder="Comments *"></textarea>
			<button type="submit" class="readmore">Publish</button>