@model List<NITASA.ViewModels.CL_Comments>

        <h5>@Model.Count() Comment</h5>
		<hr>
		
@foreach (var item in Model)
{
    
        <div class="gravatar">
            <img src="@item.ProfilePicUrl" alt="">
		</div>
		<h5>Sam
		<span class="commentdate">
			- @NITASA.Helpers.Functions.FormatDate(item.AddedOn, "MMMM dd, yyyy at hh:mm tt")@*October 26, 2013 at 9:39 am*@
		</span>
		</h5>
			
		<p>
            @item.Description
			@*But she cuddled in bed with one knee up to her neck in cute boyish fashion, laughing softly at the remembrance of another time when she had popped a cigarette stump into the eye of a London bobby from the top of a bus.  Temporibus autem quibusdam.*@
		</p>
		<br class="clear">
}