@model int

<h5>SPEAK YOUR MIND</h5>
@using (Html.BeginForm("AddComment", "Content", new { ContentID = Model }, FormMethod.Post, new { id = "comment-form" }))
{
    @Html.AntiForgeryToken()
    <input type="text" id="username" name="username" class="five smoothborder displaynone" placeholder="Your name *" />
    <input type="text" id="Website" name="Website" class="five smoothborder displaynone" placeholder="URL" />
    <textarea id="CommentDescription" name="CommentDescription" class="six smoothborder " rows="7" placeholder="Comments *"></textarea>
    @Html.Hidden("ProfilePicUrl")
    <button type="submit" class="readmore" id="postcomment">Publish</button>
    <label style="display: inline;margin-left:20px;">Comment as:</label>
    <select id="CommentAs" name="CommentAs" class="five smoothborder" style="display: inline; width: 140px">
        <option value="google">Google Account</option>
        <option value="nameurl">Name/URL</option>
        <option value="anonymous">Anonymous</option>
    </select>
}

<div class="displaynone">
    <div id="sk-comment-signin"></div>
</div>
<style>
    .displaynone {
        display: none !important;
    }
</style>

<script>
    var isCommentSubmit = false;
    $(document).ready(function () {
        $("#CommentAs").click(function (evt) {
            $("#username").addClass("displaynone");
            $("#Website").addClass("displaynone");
            $("#username").val("")
            $("#Website").val("");
            if ($(this).val() == "nameurl")
            {
                $("#username").removeClass("displaynone");
                $("#Website").removeClass("displaynone");
            }
        });
        $("#postcomment").click(function (e) {
            var isvalid = true;
            if ($("#CommentDescription").val().trim() == "") {
                alert("Comment is required");
                isvalid = false;
            }
            else if ($("#CommentAs").val() == "google") {
                if ($("#username").val().trim() == "") {
                    isvalid = false;
                    isCommentSubmit = true;
                    $("#sk-comment-signin").find(".abcRioButton").click(); // google authentication
                }
            }
            else if ($("#CommentAs").val() == "nameurl") {
                if ($("#username").val().trim() == "") {
                    alert("Name required");
                    isvalid = false;
                }
            }
            if (isvalid)
                return true;
            else
                return false;
        });
    });
    
    function onCommentSuccess(googleUser) {
        $("#username").val(googleUser.getBasicProfile().getName());
        $("#ProfilePicUrl").val(googleUser.getBasicProfile().getImageUrl());
        if (isCommentSubmit == true) {
            isCommentSubmit = false;
            $("#postcomment").trigger("click");
        }
    }
    function onCommentFailure(error) {
        alert(error);
    }
    function renderCommentGoogleButton() {
        gapi.signin2.render('sk-comment-signin', {
            'scope': 'https://www.googleapis.com/auth/plus.login',
            'width': 200,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onCommentSuccess,
            'onfailure': onCommentFailure
        });
    }
</script>
<script src="https://apis.google.com/js/platform.js?onload=renderCommentGoogleButton" async defer></script>

<script>
    @if (TempData["comment-added"] != null)
    {
        @: alert("Your comment is added. we will review and it add. :)");
    }
    @if (TempData["comment-error"] != null)
    {
        @: alert("@((String)TempData["comment-error"])");
    }
</script>