@using NITASA.Helpers
@{
    string currentThemeName = ViewBag.ActiveTheme; 
}
<div class="row">
	<div class="headerlogo four columns">
		<div class="logo">
            <a href="@Functions.GetSiteURL()">
                <h4>@Functions.GetSiteName()</h4>
            </a>
		</div>
	</div>
	@Html.Partial("~" + currentThemeName + "/navigation.cshtml")
</div>
<div class="clear">
</div>