@{string currentThemeName = Convert.ToString(ViewBag.ActiveTheme); }
<div class="row">
	<div class="headerlogo four columns">
		<div class="logo">
			<a href="index.html">
			<h4>Studio Francesca</h4>
			</a>
		</div>
	</div>
	@Html.Partial("~" + currentThemeName + "/navigation.cshtml")
</div>
<div class="clear">
</div>