@model string
@using NITASA.ViewModels
@{
    CL_WidgetOption wOption = NITASA.Helpers.Functions.ParseJson<CL_WidgetOption>(Model);
    List<NITASA.ViewModels.CL_Label> Labels = NITASA.Helpers.Functions.GetLabels(wOption.Count);
}

@if (Labels.Count() > 0)
{
    <h6 class="sidebartitle">@wOption.Title</h6>
    foreach (var item in Labels)
    {
        <a href="@(string.IsNullOrEmpty(item.URL) ? "#" : "/Label/"+item.URL)" class="tags">@item.Name</a>
    }
	<br class="clear"/>
}