@model string
@using NITASA.ViewModels
@{
    CL_WidgetOption wOption = NITASA.Helpers.Functions.ParseJson<CL_WidgetOption>(Model);
    List<CL_Content> MostPopularPosts = NITASA.Helpers.Functions.GetMostPopularPosts(wOption.Count);
}
@if (MostPopularPosts.Count() > 0)
{
    <h6 class="sidebartitle">@wOption.Title</h6>
    foreach (var item in MostPopularPosts)
    {
        <p>
			@NITASA.Helpers.Functions.FormatDate(item.PublishedOn, "dd MMM yyyy")@*7 Oct 2013*@
		</p>
		<p>
            @{string Description = NITASA.Helpers.Functions.RemoveHTMLTags(item.Description);}
			@(Description.Length > 110 ? Description.Substring(0, 110) + "..." : Description)
		</p>
    }
}
