@model string
@using NITASA.ViewModels
@{
    CL_WidgetOption wOption = NITASA.Helpers.Functions.ParseJson<CL_WidgetOption>(Model);
    int pageviews = NITASA.Helpers.Functions.PagesView();
}

    <h6 class="sidebartitle">@wOption.Title</h6>
    Total Views : @pageviews 
    <br class="clear" />