@model string
@using NITASA.ViewModels
@{
    CL_WidgetOption wOption = NITASA.Helpers.Functions.ParseJson<CL_WidgetOption>(Model);
    int pageviews = NITASA.Helpers.Functions.PagesView();
}

    <div class="art-box art-vmenublock">
    <div class="art-bar art-blockheader">
        <h3 class="t">@wOption.Title</h3>
    </div>
    Total Views : @pageviews
    </div>
