@model string
@using NITASA.ViewModels
@{
    CL_WidgetOption wOption = NITASA.Helpers.Functions.ParseJson<CL_WidgetOption>(Model);
    List<NITASA.ViewModels.CL_Content> pages = NITASA.Helpers.Functions.GetPages(wOption.Count);
}

@if (pages.Count() > 0)
{

    <h6 class="sidebartitle">PAGE LIST</h6>
    foreach (var item in pages)
    {
        <a href="@(string.IsNullOrEmpty(item.URL) ? "#" : "/Content/" + item.URL)" class="tags">@item.Title</a>
    }
	<br class="clear"/>
}