@model string
@using NITASA.ViewModels
@{
    CL_WidgetOption wOption = NITASA.Helpers.Functions.ParseJson<CL_WidgetOption>(Model);
    List<CL_Comments> Comments = NITASA.Helpers.Functions.GetRecentComments(wOption.Count);
}

@if (Comments.Count() > 0)
{
    <h6 class="sidebartitle">@wOption.Title</h6>
    foreach (var item in Comments)
    {
        <div class="avatar">
                <img src="@item.ProfilePicUrl" alt="">
			</div>
			<p>
				 @(item.Description.Length > 95 ? item.Description.Substring(0, 95) + "..." : item.Description)
			</p>
    }
    <br class="clear" />
}