@model List<Nitasa.ViewModels.Slide>
 
    <div id="ei-slider" class="ei-slider">
        <ul class="ei-slider-large">
            @foreach (var item in Model)
            {
                <li>
                    <img src="@item.Image" alt="image01" class="responsiveslide">
                    <div class="ei-title">
                        <h2>Dare to</h2>
                        <h3>Dream</h3>
                    </div>
                </li>
            }
        </ul>
        <!-- slider-thumbs -->
        <ul class="ei-slider-thumbs">
            <li class="ei-slider-element">Current</li>
            @foreach (var item in Model.Skip(1))
            {
                <li><a href="#">Slide 1</a><img src="@item.Image" class="slideshowthumb" alt="thumb01" style="width:150px;height:59px;"/></li>
            }
            @*<li><a href="#">Slide 1</a><img src="http://placehold.it/150x59/444" class="slideshowthumb" alt="thumb01" /></li>
            <li><a href="#">Slide 2</a><img src="http://placehold.it/150x59/444" class="slideshowthumb" alt="thumb02" /></li>
            <li><a href="#">Slide 3</a><img src="http://placehold.it/150x59/444" class="slideshowthumb" alt="thumb03" /></li>
            <li><a href="#">Slide 4</a><img src="http://placehold.it/150x59/444" class="slideshowthumb" alt="thumb04" /></li>
            <li><a href="#">Slide 5</a><img src="http://placehold.it/150x59/444" class="slideshowthumb" alt="thumb05" /></li>
            <li><a href="#">Slide 6</a><img src="http://placehold.it/150x59/444" class="slideshowthumb" alt="thumb06" /></li>
            <li><a href="#">Slide 7</a><img src="http://placehold.it/150x59/444" class="slideshowthumb" alt="thumb07" /></li>
            <li><a href="#">Slide 8</a><img src="http://placehold.it/150x59/444" class="slideshowthumb" alt="thumb08" /></li>
            <li><a href="#">Slide 9</a><img src="http://placehold.it/150x59/444" class="slideshowthumb" alt="thumb09" /></li>
            <li><a href="#">Slide 10</a><img src="http://placehold.it/150x59/444" class="slideshowthumb" alt="thumb10" /></li>*@
        </ul>
    </div>
    <div class="minipause">
    </div>
