@model string
@using NITASA.ViewModels
@{
    CL_WidgetOption wOption = NITASA.Helpers.Functions.ParseJson<CL_WidgetOption>(Model);
    int pageviews = NITASA.Helpers.Functions.PagesView();
}

<h4 class="sidebartitle">@wOption.Title</h4>
    Total Page Views : @pageviews
    <br class="clear" />
<br class="clear" />