@{
    Layout = currentThemeName + "/master.cshtml";
}
<!-- Begin Post -->
<div class="row" style="height:420px;vertical-align:top;padding-top:50px;">
    <div class="twelve columns">
        <div class="typography">
            <h2 style="color:red">
                404: Page Not Found.
            </h2>
            <span>
                <i>
                    It's looking like you may have taken a wrong turn. <br />
                    Don't Worry..... it happens to best of us!
                </i>
            </span>
        </div>
    </div>

</div>
