@using NITASA.Helpers
@{
    string currentThemeName = ViewBag.ActiveTheme;
}
<div class="art-header">
    @Html.Partial("~" + currentThemeName + "/navigation.cshtml")
   
    <div class="cleared reset-box"></div>
    <div class="art-logo">
        <h1 class="art-logo-name"><a href="@Functions.GetSiteURL()">@Functions.GetSiteName()</a></h1>
        <h2 class="art-logo-text">@Functions.GetSiteName()</h2>
    </div>
</div>