@model string
@using NITASA.ViewModels
@{
    CL_WidgetOption wOption = NITASA.Helpers.Functions.ParseJson<CL_WidgetOption>(Model);
    int contentID = 0;
    if (ViewBag.ContentID != null)
    {
        contentID = ViewBag.ContentID;
    }
    List<CL_Content> RelatedPosts = NITASA.Helpers.Functions.GetRelatedPosts(contentID, wOption.Count);
}
@if (RelatedPosts.Count() > 0)
{
    <div class="art-box art-vmenublock">
        <div class="art-bar art-blockheader">
            <h3 class="t">@wOption.Title</h3>
        </div>
        <div class="art-box-body art-vmenublock-body">
            <div class="art-box art-vmenublockcontent">
                <div class="art-box-body art-vmenublockcontent-body">

                    @foreach (var item in RelatedPosts)
                    {
                        if (wOption.showthumb)
                        {
                            <div class="avatar">
                                <img src="@(!string.IsNullOrEmpty(item.FeaturedImage) ? item.FeaturedImage : "/Content/postdefult.png")" style="width:36px;height:36px;" alt="" />
                            </div>
                        }
                        <p>
                            <a href="/Content/@item.URL">@item.Title</a>
                        </p>
                        <p>
                            @{string Description = NITASA.Helpers.Functions.RemoveHTMLTags(item.Description);}
                            @(Description.Length > 110 ? Description.Substring(0, 110) + "..." : Description)
                        </p>
                    }

                    <div class="cleared"></div>
                </div>
            </div>
            <div class="cleared"></div>
        </div>
    </div>
}
