@model string
@using NITASA.ViewModels
@{
    CL_WidgetOption wOption = NITASA.Helpers.Functions.ParseJson<CL_WidgetOption>(Model);
    int pageviews = NITASA.Helpers.Functions.PagesView();
}
<div class="cat-list">
    <ul>
        <li>
            <h5 style="padding:10px;">@wOption.Title <span>@pageviews</span></h5>
</li>
    </ul>
</div>