@model List<NITASA.ViewModels.CL_Slide>

    <div id="showcase" class="showcase">

        @foreach (var item in Model)
        {
            <div class="showcase-slide">
                <!-- Put the slide content in a div with the class .showcase-content. -->
                <div class="showcase-content"> <img src="@item.Image" alt="2" /> </div>
                @*<div class="showcase-caption">
                    Slider Text Summary
                </div>*@
            </div>
        }
    </div>